<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="./assets/img/book-2-fill.svg" type="image/svg" />
	<link rel="stylesheet" href="./assets/css/style.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>RecordeTur | Clientes</title>
</head>

<body>
	<main>
		<header class="header">
			<h1>Clientes</h1>
		</header>

		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/clientes}">Clientes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/viagens}">Destinos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:href="@{/reservas}">Reservas</a>
			</li>
		</ul>

		<section class="container">

			<div class="p-4">
				<button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary mb-2 botao1"> Novo
					cliente </button>

				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Nome</th>
							<th scope="col">Email</th>
							<th scope="col">Telefone</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="c : ${clientes}">
							<td th:text="${c.id_cliente}"></td>
							<td th:text="${c.email_cliente}"></td>
							<td th:text="${c.nome_cliente}" class="name"></td>
							<td th:text="${c.telefone_cliente}"></td>							
							<td>
								<div class="d-flex">
									<a th:href="@{'/clientes'}" data-bs-toggle="modal"
										th:data-bs-target="'#exampleModal' + ${c.id_cliente}" class="mx-1" title="Editar">
										<i class="ri-file-edit-line"></i>
									</a>
									<a th:href="@{'/clientes/' + ${c.id_cliente} + '/excluir'}" class="mx-1" title="Cancelar"
										onclick="return confirm('Deseja excluir este cliente ?')">
										<i class="ri-delete-bin-2-line"></i>
									</a>
									
									<!-- Modal -->
									<div class="modal fade" th:id="'exampleModal' + ${c.id_cliente}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
														title</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form th:action="@{/clientes/cadastrar}" method="post"
														th:object="${cliente}">
														<h2 class="text-center">Atualizar</h2>
														<input type="hidden" id="id_cliente" name="id_cliente" class="form-control"
															th:value="${c.id_cliente}" />
														<input type="hidden" id="cpf" name="cpf" class="form-control"
															th:value="${c.cpf}" />
														
														<div class="form-group mb-3">
															<label for="email_cliente" class="form-label">
																Email
															</label>
															<input type="email" id="email_cliente" name="email_cliente"
																class="form-control" th:value="${c.email_cliente}" />
														</div>
														
														<div class="form-group mb-3">
															<label for="nome_cliente" class="form-label">
																Nome
															</label>
															<input type="text" id="nome_cliente" name="nome_clinte"
																class="form-control" th:value="${c.nome_cliente}" />
														</div>

														<div class="form-group mb-3">
															<label for="telefone_cliente" class="form-label">
																Telefone
															</label>
															<input type="text" id="telefone_cliente" name="telefone_cliente"
																class="form-control" th:value="${c.telefone_cliente}" />
														</div>
														<div class="form-group mb-3">
															<label for="senha" class="form-label">
																Senha
															</label>
															<input type="password" id="senha" name="senha"
																class="form-control" th:value="${c.senha}" />
														</div>


														<button type="submit" class="btn btn-primary">
															Enviar
														</button>
														<a href="./clientes" class="btn btn-danger"
															style="margin-left: 10px">
															Cancelar
														</a>
													</form>
												</div>

											</div>
										</div>
									</div>

								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</section>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Modal
							title</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/clientes/cadastrar}" method="post" th:object="${cliente}">
							<h2 class="text-center">Atualizar</h2>
							
							<div class="form-group mb-3">
								<label for="cpf" class="form-label">
									CPF
								</label>
								<input type="text" th:id="cpf" th:name="cpf" class="form-control"
									th:field="*{cpf}" />
							</div>

							
							
							<div class="form-group mb-3">
								<label for="nome_cliente" class="form-label">
									Nome
								</label>
								<input type="text" th:id="nome_cliente" th:name="nome_cliente" class="form-control"
									th:field="*{nome_cliente}" />
							</div>
							
							<div class="form-group mb-3">
								<label for="email_cliente" class="form-label">
									Email
								</label>
								<input type="email" th:id="email_cliente" th:name="email_cliente" class="form-control"
									th:field="*{email_cliente}" />
							</div>
							
							<div class="form-group mb-3">
								<label for="telefone_cliente" class="form-label">
									Telefone
								</label>
								<input type="text" th:id="telefone_cliente" th:name="telefone_cliente" class="form-control"
									th:field="*{telefone_cliente}" />
							</div>
							
							<div class="form-group mb-3">
								<label for="senha" class="form-label">
									Senha
								</label>
								<input type="password" th:id="senha" th:name="senha" class="form-control"
									th:field="*{senha}" />
							</div>

							<button type="submit" class="btn btn-primary">
								Enviar
							</button>
							<a href="./clientes" class="btn btn-danger" style="margin-left: 10px">
								Cancelar
							</a>
						</form>
					</div>

				</div>
			</div>
		</div>

	</main>
	<footer>
		<img src="./assets/img/recode.svg" alt="recodePro" />
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
</body>

</html>